@import url(http://fonts.googleapis.com/css?family=ABeeZee|Syncopate:400,700);

body {
    font-family: 'ABeeZee', Geneva, 'DejaVu Sans', sans-serif;
    font-size:12px;
    line-height:18px;
}
h1{
    font-family: "Syncopate";
    text-transform: uppercase;
    font-size: 16px;
}
#body-container {
    /*padding:20px;*/
}
a{
    text-decoration: none;
    color:#0097FB;
}
a:hover{
    text-decoration: underline;
    color:#2D2D9F;
}
input{
    border: 2px solid #a2a6ad;
    font-family: "ABeeZee";
    border-radius: 2em;
    padding: .5em 1em;
}
select {
    min-width: 150px;
    -moz-background-size: 400px;
    -o-background-size: 400px;
    -webkit-background-size: 400px;
    background-size: 400px;
    background: #fff url(../images/dropdown-arrow.png) center right no-repeat;
}
.listbox {
    background: #fff;
    border-radius: 0em;
}
.alphabet-container {
    float:right;
    display: inline-block;
}
select, textarea  {
    font-size:12px;
    padding: 2px 0 2px 3px;
}
select{
    -webkit-appearance: none;
    border: 2px solid #a2a6ad;
    font-family: "ABeeZee";
    border-radius: 2em;
    padding: .4em 1em;
    padding-right: 4em;
}

.obsSection {
    background: #fff;
    border: 2px solid #a2a6ad;
    width: 956px;
    display: inline-block;
    margin-bottom: 20px;
}

.obsSection h2{
    padding-left: 15px;
}

.obsSectionInnerLeft {
    padding-left: 15px;
    width: 45%;
    display: inline-block;
    float: left;
}

.obsSectionInnerRight {
    width: 50%;
    display: inline-block;
    float: right;
    padding-bottom: 5px;
}

.weather {
    display: block;
    border: 2px solid #4a525c;
    width: 98.5%;
    padding: 0 5px;
    margin-bottom: 10px;
}
.weather label {
    color: #4a525c;
    display: block;
    font-weight: bold;
    font-size: 1.2em;
}
.innerWeather {
    display: inline-block;
    /*margin-right: 5px;*/
    width: 23%
}
.innerWeather label {
    color: #4a525c;
    font-weight: bold;
    display:block;
    font-size: 1em;
}

.edit {
    background: url('../images/icons/admin/edit.png') center left no-repeat;
    background-size: 15px 30px;
    width: 15px;
    height: 30px;
    display: inline-block;
    float: right;
    margin-left: 5px;
}
.edit a {
    display: inline-block;
    overflow: hidden;
    width: 15px;
    height: 30px;
}
.view {
    background: url('../images/icons/admin/info-gray.png') center left no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    float: right;
    margin-left: 5px;
}
.view a {
    display: inline-block;
    overflow: hidden;
    width: 30px;
    height: 30px;
}
.records {
    background: url('../images/icons/admin/data.png') center left no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    float: right;
    margin-left: 5px;
}
.records a {
    display: inline-block;
    overflow: hidden;
    width: 30px;
    height: 30px;
}
.flaggable {
    width: 30px;
    height: 30px;
    display: inline-block;
}
.flaggable a {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-indent:-999em;
	color: #fff;
}
.edit-button {
    text-decoration: none;
    font-size: 1.05em;
    color: #000;
    border: 2px solid #a2a6ad;
    border-radius: 2em;
    padding: 2px 4px;
    background-color: rgb(239, 239, 239);
}
.edit-button:hover{
    text-decoration: none;
    color: #001;
}
.flagged {
    background: url('../images/icons/admin/flagged.png') center left no-repeat;
    background-size: 30px 30px;
}
.not-flagged {
    background: url('../images/icons/admin/unflagged.png') center left no-repeat;
    background-size: 30px 30px;
}
.delete {
    background: url('../images/icons/admin/delete.png') center left no-repeat;
    background-size: 30px 30px;
    margin: 0px;
    padding: 0px;
    border: none;
    width:30px; 
    height:30px;
    display: inline-block;
    float:right;
    margin-left: 5px;
}
.delete a {
    display: inline-block;
    overflow: hidden;
    width: 30px;
    height: 30px;
}
.hideDelete {
    display:none;
}
.showDelete {
    display:inline-block;
}
.confirmDelete {
    background: url('../images/icons/observation/select-all-groups.png') center left no-repeat;
    background-size: 15px 15px;
    margin: 0px;
    padding: 0px;
    border: none;
    width:15px; 
    height:15px;
    display: inline-block;
}
.cancelDelete {
    background: url('../images/icons/observation/close-gray.png') center left no-repeat;
    background-size: 15px 15px;
    margin: 0px;
    padding: 0px;
    border: none;
    width:15px; 
    height:15px;
    display: inline-block;
    float:right;
}
.print {
    background: url('../images/icons/admin/print.png') center left no-repeat;
    background-size: 30px 30px;
    width:30px; 
    height:30px;
    display: inline-block;
    float:right;
    margin-left: 5px;
}
.print a {
    display: inline-block;
    overflow: hidden;
    width: 30px;
    height: 30px;
}
.vr{
    border-left: 2px solid #a2a6ad;
    height: 28px;
    float: right;
}
.animalSearch {
    width: 50%;
    display:inline-block;
}
#filterUp, #filterRec {
    display:none;
}
.filter {
    background-color: #efefef;
    border: 2px solid #a2a6ad;
    display: inline-block;
    width: 99.5%
}
.filterInner {
    padding: 5px;
}
.filter h2 {
    padding-left: 1.5em;
    color: #4a525c;
}
.filter-show {
    background: url(../images/icons/admin/see-less.png) center left no-repeat #a2a6ad;
    background-size: 25px 25px;
}
.filter-hide {
    background: url(../images/icons/admin/see-more.png) center left no-repeat #a2a6ad;
    background-size: 25px 25px;
}
textarea  {    
    line-height:18px;
}
.button{
    border: 1px solid #5195a3;
    font-family: "Syncopate";
    text-transform: uppercase;
    color: #fff;
    background: #5195a3;
    padding: .5em 1em .3em;
    font-size: 14px;
    cursor: pointer;
}
.button:hover{
    background: #62b7c7;
}

.disabled-button {
    border: 1px solid #4b545f;
    font-family: "Syncopate";
    text-transform: uppercase;
    color: #fff;
    padding: .5em 1em .3em;
    font-size: 14px;
    background: #999999;
}

.form-fieldset label{
    display: block;
    color: #492210;
    font-family: "Syncopate";
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: -3px;
}
.form-fieldset legend{
    display: none;
}
.form-fieldset li{
    padding-bottom: 10px;
}
tr, td, th, .step li{
    padding: 1em 1em 1em 2em;
    text-align: left;
    background: #fff;
    border-bottom: 1px solid #c5c7ca;
    vertical-align:middle;
}
th{
    background: #b3b6bb;
    color: #fff;
}
th a{
    color: #fff;
    cursor: pointer;
}
tr.hilite-row, tr.hilite-row td{
    background: #ddd;
    cursor: pointer;
}
tr:nth-child(even) td{
    background: #efefef;
}
tr.hilite-row:nth-child(even) td{
    background: #ccc;
}
.step li{
    padding-left: 1em;
}
.steps{
    background:#e3e4e6;
}
.steps .title_bar{
    background: #b3b6bb;
    color:#4b525c;
    padding: 15px;
    font-size: 14px;
}
.send-password
{
    text-indent:-999em;
    display:inline-block;
    width:30px;
	background-image: url(../images/icons/admin/send-pass.png); 
	background-repeat: no-repeat;
	background-position: left center; 
    background-size: 30px 30px;
	color: #fff;
}
.unlock-user
{
    text-indent:-999em;
    display:inline-block;
    width:30px;
    height: 30px;
	background-image: url(../images/icons/admin/unlock-user.png); 
	background-repeat: no-repeat;
	background-position: left center; 
    background-size: 30px 30px;
	color: #fff;
}
nav {
    display:inline-block;    
}
#app-title {
    display:inline-block;
    font-size: 1.2em;
}
#menu {
    text-decoration: none;
}
.dropDownDiv {
    position:relative;
    display: inline-block;
}
.menu {
    background: #efefef; 
	border-radius: 5px;  
	color: #757575; 
	display: inline-block;
	list-style: none;
    padding: 2px 8px;
	position: relative;
    text-decoration: none;
    vertical-align: top;
}
.menu:after {
	content: ""; 
    clear: both; 
}
.menu:hover {
    background: #4b545f;
	color: #fff;
}
.hiddenDropDown {
	background: #5f6975; 
    border-radius:0;
	display: none;
	list-style: none;
    padding: 0;
	position: absolute; 
    right: 0%;
    top: 100%;
    vertical-align: top;
    z-index: 500;
}
.hiddenDropDown li {
	float: none; 
    width: 15em;
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a; 
}
.hiddenDropDown li a {
	padding: 5px 20px;
    display: block;
	color: #fff;
}
.hiddenDropDown li a:hover {
	background: #4b545f;
    text-decoration: none;
}
.hiddenDropDown li a:active {
    text-decoration: none;
	background: #4b545f;
}	
/*nav ul ul {
	display: none;
    z-index: 500;
	background: #5f6975; 
    border-radius:0;
    padding: 0;
	position: absolute; 
    top: 100%;
    right: 0%;
}*/
/*nav ul{
    background: #efefef; 
	padding: 0;
	border-radius: 5px;  
	list-style: none;
	position: relative;
	display: inline-block;
    vertical-align: top;
}*/
/*nav ul:after {
	content: ""; 
    clear: both; 
    display: block;
}*/

/*nav ul li {
	float: left;
}*/
/*nav ul li:hover {
	background: #4b545f;
}
nav ul li:hover a {
	color: #fff;
}
		
nav ul li a {
	display: block; 
    padding: 2px 8px;
	color: #757575; 
    text-decoration: none;
}
nav ul li a:active {
    text-decoration: none;
	background: #4b545f;
}	
nav ul ul li {
	float: none; 
    width: 15em;
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a; 
    position: relative;
}*/
/*nav ul ul li a {
	padding: 5px 20px;
	color: #fff;
}*/	
/*nav ul ul li a:hover {
	background: #4b545f;
}*/
#lnkLogout:hover {
    background: #4b545f;
	background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
	border-radius: 4px;  
    color:#fff;
}
.step{
    display: inline-block;
    vertical-align: top;
    width: 32%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 15px;
    padding-right: 0px;
}
.step .title{
    font-family: "Syncopate";
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #444;
    padding-bottom: 3px;
}
.step ul{
    height: 280px;
    overflow: scroll;
    background: #fff;
}

.step li.active {
    background: #5195a3;
}
/* General slideStrip CSS*/

.slideStrip{
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
}

.slideStrip ul li img{
    width: 100%;
}

.controls .button {
  font-size: 16px;
  width: 1em;
  height: 1em;
  background-color: #ebebeb;
  box-shadow: inset 0 0.1em 0.2em rgba(0, 0, 0, 0.3), inset 0.1em 0.2em 0.4em rgba(120, 120, 60, 0.1), inset -0.1em -0.2em 0.4em rgba(40, 80, 100, 0.1), 0 0.1em 0.2em rgba(255, 255, 255, 0.8);
  border-radius: 0.5em;
  margin: 0.2em;
  cursor: pointer;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
}
.controls .button.active {
  background-color: #cccccc;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(100%, #999999));
  background-image: -webkit-linear-gradient(top, #cccccc, #999999);
  background-image: linear-gradient(to bottom,#cccccc, #999999);
}
.add-link{
    display: inline-block;
    padding: 1em;
    padding-left: 3em;
    border-radius: .5em;
    margin: .5em 0;
    color: #a4a7ad;
    background: url(../images/add.png) center left no-repeat;
}
.add-link:hover{
    color: #444;
}
/*#region simple confirm control */
    
div.scc-box
{
    display: none;
    padding: 10px;
    background-image:url(/images/question.gif);   
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

div.scc-box div.scc-title
{
    font-weight:bold;
    font-size: 1.1em;
    padding-left:40px;
}

div.scc-box div.scc-content
{
    text-align: left;
    padding-top:25px;
    padding-left:10px;
}

div.scc-box div.scc-buttons
{
    clear:both;
    padding: 10px 10px 10px 35px;
    /*text-align: center;*/
}

div.scc-box div.scc-buttons .cms-button{
    margin-right:20px;
}

/*#endregion */

/*Fading slideStrip CSS*/
ul.fade-strip {
    list-style: none;
    margin: 0;
    padding: 0;
    width:100%;
}
ul.fade-strip  li {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    opacity: 0;
    z-index: 0;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity  .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity  .5s;
    transition: opacity .5s;
}

ul.fade-strip  li.active{
    z-index: 1;
    opacity:1;
}

/*Sliding slideStrip CSS*/
ul.slide-strip {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 50%;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform  .5s;
    -ms-transition: -ms-transform  .5s;
    -o-transition: -o-transform  .5s;
    transition: transform  .5s;
    -webkit-backface-visibility: hidden;
}
ul.slide-strip li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0em;
    overflow: hidden;
}


body{
    margin: 0;
    background: #e4e5e9;
    font-family: "ABeeZee", Arial, sans-serif;
}
#slide, #slide2, #slide3{
    width:33%;
    text-align: center;
}
#slide li{
    padding-bottom: 15%;
}
#slide img, #slide2 img, #slide3 img{
    padding: 20%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.step li.active {
    background: #5195a3;
}
/* General slideStrip CSS*/

.slideStrip{
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
}

.slideStrip ul li img{
    width: 100%;
}

.controls .button {
  font-size: 16px;
  width: 1em;
  height: 1em;
  background-color: #ebebeb;
  box-shadow: inset 0 0.1em 0.2em rgba(0, 0, 0, 0.3), inset 0.1em 0.2em 0.4em rgba(120, 120, 60, 0.1), inset -0.1em -0.2em 0.4em rgba(40, 80, 100, 0.1), 0 0.1em 0.2em rgba(255, 255, 255, 0.8);
  border-radius: 0.5em;
  margin: 0.2em;
  cursor: pointer;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
}
.controls .button.active {
  background-color: #cccccc;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(100%, #999999));
  background-image: -webkit-linear-gradient(top, #cccccc, #999999);
  background-image: linear-gradient(to bottom,#cccccc, #999999);
}
.add-link{
    display: inline-block;
    padding: 1em;
    padding-left: 3em;
    border-radius: .5em;
    margin: .5em 0;
    color: #a4a7ad;
    background: url(../images/add.png) center left no-repeat;
}
.add-link:hover{
    color: #444;
}
/*Fading slideStrip CSS*/
ul.fade-strip {
    list-style: none;
    margin: 0;
    padding: 0;
    width:100%;
}
ul.fade-strip  li {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    opacity: 0;
    z-index: 0;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity  .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity  .5s;
    transition: opacity .5s;
}

ul.fade-strip  li.active{
    z-index: 1;
    opacity:1;
}

/*Sliding slideStrip CSS*/
ul.slide-strip {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 50%;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform  .5s;
    -ms-transition: -ms-transform  .5s;
    -o-transition: -o-transform  .5s;
    transition: transform  .5s;
    -webkit-backface-visibility: hidden;
}
ul.slide-strip li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0em;
    overflow: hidden;
}


body{
    margin: 0;
    background: #e4e5e9;
    font-family: "ABeeZee", Arial, sans-serif;
}
#slide, #slide2, #slide3{
    width:33%;
    text-align: center;
}
#slide li{
    padding-bottom: 15%;
}
#slide img, #slide2 img, #slide3 img{
    padding: 20%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#slide img{
    padding-bottom: 5%;
}
header, footer{
    background: #4a525c;
    color: #fff;
    width: 100%;
}
#backdrop{
    background: url(../images/background/gradient.png), url(../images/background/sky.jpg);
    background-size: 100% 100%, cover;
    padding: 1em;
}
h1,h2,h3,h4{
    margin:0;
    padding: 0;
    font-family: 'Syncopate', sans-serif;
    text-transform: uppercase;
}
h1{
    padding-top: .5em;
    line-height: .65em;
    font-weight: bold;
    color: #fff;
    font-size: 1.8em;
    text-shadow: 0 1px 8px rgba(0,0,0,.3);
}
h2{
    font-size: 1.2em;
    padding: .5em 0;
}

hr{
    border: 1px solid #4a525c;
    border-bottom: 0;
}

.tabs, .tabs li{
    padding:0;
    margin:0;
    list-style: none;
    display: inline-block;
    vertical-align: top;
}
.tabs{
    margin-left: .4em;
    position: relative;
    width: 100%;
    margin-top: 1em;
}
.tabs .active h2{
    background: #4b525c;
    color: #fff;
}
.tabs h2{
    font-size: .8em;
    background: #b3b6bb;
    color: #4b525c;
    border-radius: .4em;
    padding: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: -.4em;
}
.tabs .content{
    display: none;
}
.tabs .active .content{
    background: #e3e4e6;
    padding: .5em;
    display: block;
    position: absolute;
    top: 2em;
    left: -.35em;
    width: 100%;
    border-top: 4px #4b525c solid;
    box-sizing: border-box;
}
#div-dialog{
    background: #e4e5e9!important;
}
.slider{
    background: url(../images/control/slide.png);
    background-size: 100% 100%;
}
#weatherControl li{
    font-family: 'Syncopate';
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10%;
    text-align: center;
}
#windControl li {
     box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10%;
    text-align: center;
    font-size: 14px;
    font-family: 'Syncopate', sans-serif;
    text-transform: uppercase;
}
#windControl li img{
    /*width:30%;*/
}
#behaviorControl li{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10%;
    text-align: center;
}
#crowdControl li{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10%;
    text-align: center;
    font-size: 14px;
    font-family: 'Syncopate', sans-serif;
    text-transform: uppercase;
}
#crowdControl li img{
    width:30%;
}
h1{
    padding-bottom: 15px;
}
h2{
    font-size: 1.6em;
    font-weight: bold;
    color: #4b2008;
}
#windControl li.selected{
    font-size: 16px;
}#windControl li.selected div span{
    border-bottom: 4px solid #4a525c;
}
#crowdControl li.selected{
    font-size: 20px;
}#crowdControl li.selected div span{
    border-bottom: 4px solid #4a525c;
}
.slideStrip{
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

#observation-page {
    font-size: 14px;
}

#login{
    margin: 0 auto;
    margin-top: 20px;
    width:320px;
}
#login input[type='text'],#login input[type='password']{
    width:92%;
}
header li img{
    width: 100%;
}
#loginPanel{
    width: 350px;
    margin:  0 auto;
    padding-top: 5em;
}
#loginPanel span{
    font-family: "Syncopate";
    text-transform: uppercase;
    font-weight: bold;
    color:#4b2008;
}
#loginPanel .logo{
    font-family: "Syncopate";
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    color: #4a525c;
    padding-bottom: 3em;
    /*background:  url(../images/icons/observation/account-white.png) no-repeat bottom center;*/
}
#loginPanel input, #loginPanel select{
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#loginPanel input[type='submit']{
    width: auto;
    margin-top: 2em;
    font-family: "Syncopate";
    text-transform: uppercase;
    background: #5096a4;
    border-color: #5096a4;
    color: #fff;
}

#enviromentData{
    background: url("../images/background/gradient.png"), url("../images/background/sky.jpg");
    background-size: 100% 100%, 100% 100%;
}
#enviromentData h1{
    padding-top: 20px;
    margin-left: 20px;
}

#enviromentPanel h2 {
    margin-left: 20px;
}

#weatherAPIoutput{
    padding:1em;
    color: #4a525c;
    text-align: center;
}
#weatherAPIoutput .temp{
    font-size: 120px;
    line-height: 100px;
    font-weight: 200;
    font-family: "Syncopate";
    text-transform: uppercase;
}
#weatherAPIoutput .summary, #weatherAPIoutput .windspeed{
    display: inline-block;
    font-weight: bold;
    padding: 5px;
    font-size: 14px;
}
#saveWeather, #saveRecord, #gotoFinalizationPage{
    display: inline-block;
    border-radius: 15px;
    margin: 1em;
}

#finalizeObservation, #backToObservation{
    border-radius: 15px;
    margin: 1em;
}

#button-container #saveRecord, #button-container #gotoFinalizationPage{
    text-align: center;
    float: left;
    width: 60%;
    margin-left: 20px;
    margin-bottom: 15px;
}

#zoneControl {
    margin-bottom: 15px;
}

#timer{
    width: 100%;
    position: relative;
    height: 40px;
}

/*#finalizeObservation .disabled {
    background: #444444;
    border-color: #444444;
}*/
#timer .timebar{
    /*width:50%;*/
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    background: red;
    z-index: 1;
}
#timer .time{
    position: absolute;
    top: 2px;
    right: 5px;
    z-index: 2;
    font-size: 18px;
}
#weatherAPIoutput .temp:after{
    content:'°F';
    font-size: 120px;
}

#observationInfo h2 {
    text-align: center;
    padding-left: 0px;
}

/*#observationInfo span {
    margin-left: 10px
}*/

#observationPanel input[type='checkbox'] {
    vertical-align: bottom;
}

#observationPanel select {
    font-size: 14px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    min-width: 250px;
}

/*#observationInfo span + div{
    margin-left: 20px;
}*/

#animalgroup-knockout-scope {
    float: left;
    width: 50%;
    margin-left: 20px;
}

#button-container {
    text-align: center;
    margin-top: 10px;
}

.animal-group{
    width: 75%;
    margin-left: 20px;
    margin-top: 15px;
}

.animal-group .button {
    display: inline-block;
    border-radius: 15px;
    margin: 1em;
    margin-left: 0px;
}

.animal-group-list span {
    font-weight: bold;
    color:#4b2008;
}

.animal-group-header {
    /*background-color: rgba(0, 0, 0, 0.18);*/
    padding-left: 5px;
    background-color: #5096a4;
    border-radius: 10px 10px 0 0;
    border-right: 1px solid rgba(2, 2, 2, 0.28);
    border-left: 1px solid rgba(2, 2, 2, 0.28);
    border-top: 1px solid rgba(250, 250, 250, 0.27);
    -webkit-box-shadow: rgba(255,255,255,0.3) 0 1px 0, rgba(0,0,0,0.3) 0 -1px 0;
    box-shadow: rgba(255,255,255,0.3) 0 1px 0, rgba(0,0,0,0.3) 0 -1px 0;
    -webkit-box-shadow: 0 0 3px rgba(1, 1, 1, 0.7);
    box-shadow: 0 0 5px rgba(1, 1, 1, 0.7);
}



.animal-group-list {
    background-color: #fff;
    -webkit-box-shadow: -3px 0 5px -3px rgba(1, 1, 1, 0.87), 3px 0 5px -3px rgba(1, 1, 1, 0.87);
    box-shadow: -3px 0 5px -3px rgba(1, 1, 1, 0.87), 3px 0 5px -3px rgba(1, 1, 1, 0.87);
    padding: 20px 0;
    border-top: 1px solid #333;
    border-radius: 0 0 10px 10px;
    position: relative;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-bottom: 0px;
    border-bottom: 1px solid;
}

#entry-panel {
    float: right; 
    width: 45%
}

#entry-panel h2 {
    margin-left: 20px;
}

#entry-panel select {
    margin-left: 20px;
    width: 60%;
}

#temperature-slider {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
}

#temparture-label {
    margin-bottom: 15px;
}

#temparture-label label {
    font-family: 'Syncopate';
}

#temparture-label input {
    width: 25px
}

.ui-slider .ui-slider-handle{
    background: #5195a3 !important;
    width: 1.7em !important;
    height: 1.6em !important;
}
.ui-slider .ui-slider-handle:hover{
    background: #62b7c7 !important;
}
.ui-slider-horizontal {
    height: 1em !important; 
}

/*--------------------------*/

.clearfix:before,
.clearfix:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}