<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>AOS</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"> </script>
        <![endif]-->
        <link href='http://fonts.googleapis.com/css?family=ABeeZee|Syncopate:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="assets/css/style.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"> </script>
        <script src="Scripts/AOS.Common.js"> </script>
        <script src="Scripts/jquery.slideStrips.v1.js"> </script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/2.3.0/knockout-min.js"> </script>
        <script src="Scripts/knockout.mapping-latest.js"> </script>
        <script src="Scripts/app.js"> </script>
    </head>
    <body>
        @RenderBody()
    </body>
</html>