
<table style="width:650px;margin:auto;font-family:Verdana;font-size:12px;line-height:18px; margin-top:20px;">        
    <tr>
        <td colspan="2" style="font-weight:bold; color:#999;">Browser Info -</td>
    </tr>
    <tr>
        <td style="font-weight:bold;width:120px;">
            Browser:
        </td>
        <td style="width:480px;">
            <% Browser %>
        </td>
    </tr>
    <tr>
        <td style="font-weight:bold;">
            Browser Type:
        </td>
        <td>
            <% BrowserType %>
        </td>
    </tr>
    <tr>
        <td style="font-weight:bold;">
            Browser Version:
        </td>
        <td>
            <% BrowserVersion %>
        </td>
    </tr>
    <tr>
        <td style="font-weight:bold;">
            Cookies:
        </td>
        <td>
            <% Cookies %>
        </td>
    </tr>
    <tr>
        <td style="font-weight:bold;">
            Crawler:
        </td>
        <td>
            <% Crawler %>
        </td>
    </tr>
</table>


