
<table style="width:650px;margin:auto;font-family:Verdana;font-size:12px;line-height:18px;">
    <tr>
        <td colspan="2" style="vertical-align:top;font-weight:bold;font-size:18px;">
            <img src="http://www.vutech-ruff.com/assets/images/site/logo.gif" alt="" style="margin-right:90px;" />
            Credentials Reminder
        </td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2">Your administration module username is <% Username %> and your password is <% password %>.</td>
    </tr>    
    <tr>

        <td colspan="2">
            Thank you.<br />
            MackCMS Automated Web Administrator<br />
            The reply-to address is not monitored - please do not reply to this email.
        </td>
    </tr>
</table>




.