<?xml version="1.0"?>
<appSettings>
    <!-- DO NOT REMOVE ANY OF THESE SETTINGS !!! -->
    <add key="SiteUrl" value="http://localhost:58657" /> 
    <!-- omit trailing / !! -->
    <add key="AppTitle" value="Columbus Zoo Animal Observation System" />
    <add key="PageTitle" value="Columbus Zoo Animal Observation System"/>
    <add key="EntityTitle" value="Columbus Zoo Animal Observation System" />
    <add key="SiteAdminAddress" value="ken@kentilley.com" />
    <add key="SiteFromAddress" value="webmaster@kentilley.com" />
    <add key="AdminReplyAddress" value="ken@kentilley.com" />
    <add key="MailEnabled" value="True" />
    <add key="SMTPServer" value="" />
    <add key="NotificationsOn" value="true"/>
    <add key="SiteCachingEnabled" value="False" />
    <add key="SiteCachingMins" value="10" />
    <add key="APISecure" value="false" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />  
</appSettings> 

