<?xml version="1.0"?>
<connectionStrings>
  <clear/>
	 <add name="AppCS" connectionString="Data Source=.\SQLExpress;Initial Catalog=CZAOS;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="wAppCS" connectionString="Data Source=(local);Initial Catalog=CZAOS;Integrated Security=True" providerName="System.Data.SqlClient" />  
   <add name="rAppCS" connectionString="data source=localhost;Initial Catalog=AnimalObservationSystem;UID=sa_KTilley;PWD=forrest;" providerName="System.Data.SqlClient"/>
</connectionStrings>




