<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>    
    
    <!-- PROVIDER DEFINITION  -->    
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.11.0, Culture=neutral, PublicKeyToken=156a3619546d76f0" requirePermission="false" />
  </configSections>
  
    <appSettings configSource="config\appSettings.config" />    
    <connectionStrings configSource="config\connections.config" />  
    <log4net configSource="config\log4net.config" />
    
  <elmah>
    <security allowRemoteAccess="yes" />
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/assets/elmah/" />
    <errorMail from="elmah@kentilley.com" to="ken@kentilley.com" subject="KT Error" priority="Normal" async="true" smtpPort="25" smtpServer="localhost" userName="ken@kentilley.com" noYsod="true" />
    <errorFilter>
      <test>
        <and>
          <equal binding="HttpStatusCode" value="404" type="Int32" />
          <regex binding="FilterSourceType.Name" pattern="mail" />
        </and>
      </test>
    </errorFilter>
  </elmah>
  <system.web>

    <pages validateRequest="false" enableEventValidation="false" enableViewStateMac="false" renderAllHiddenFieldsAtTopOfForm="true">      
      <controls>        
        <add tagPrefix="mack" namespace="KT.WebControls" assembly="KT.WebControls" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <remove assembly="System.Windows.Forms" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
         <!--  <add assembly="log4net, Version=1.2.11.0, Culture=neutral, PublicKeyToken=156a3619546d76f0" /> -->
      </assemblies>
    </compilation>        
    <membership defaultProvider="CZ_AspNetSqlMembershipProvider">
      <providers>
        <clear />
        <add name="CZ_AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AppCS" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordStrengthRegularExpression="^(?=.{8,})(?=.*\d)(?=.*[a-zA-Z])[a-zA-Z0-9!@#$*\^]*$" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="CZAOS" />
      </providers>
    </membership>
    <roleManager enabled="true" cacheRolesInCookie="true" cookieName="CZ_ROLES" defaultProvider="CZ_SqlRoleProvider">
      <providers>
        <clear />
        <add name="CZ_SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="AppCS" applicationName="CZAOS" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="CZAOS" />
      </providers>
    </roleManager>    
    <!--  -->
    <authorization>
      <allow users="?" />
    </authorization>
    <authentication mode="Forms">
      <forms name="CZ_AUTHENT" loginUrl="default.aspx" defaultUrl="/admin/observation/default.aspx" timeout="45" protection="All" slidingExpiration="true" cookieless="UseCookies" />
    </authentication>
    <httpCookies httpOnlyCookies="true" requireSSL="false" />
    
    <!-- TODO! create error handling strategy -->
    <customErrors mode="Off" defaultRedirect="/error.aspx">      
    </customErrors>
    
    <machineKey validationKey="6488DE19E69910F4618E7E02E7BEB4BE5AAF1067240CC7063EF4BE9509D2B2BA3E3CE817A6EB0FC1132CBD9243FFF49DA533BDC143DD3AFE8C9E0E2BB79618EE" decryptionKey="7B91F4FADA81CA4704890677CE722CEF7E1F2264E32831E6BA3E79F4E7B094CF" validation="SHA1" decryption="AES" />
    <httpRuntime targetFramework="4.5" executionTimeout="3600" maxRequestLength="2097151" requestValidationMode="2.0" />
    <xhtmlConformance mode="Strict" />
    <!-- was Transitional -->
    <caching>
      <sqlCacheDependency enabled="false" />
    </caching>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" timeout="60" />

    
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="webmaster@kentilley.com" deliveryMethod="Network">
        <network host="localhost" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
    
    
    
  <system.webServer>
    <staticContent>
      <!-- Set expire headers to 30 days for static content-->
      <clientCache cacheControlMaxAge="2.00:00:00" cacheControlMode="UseMaxAge" />      
    </staticContent>
    <modules runAllManagedModulesForAllRequests="true">
      
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="AdminSecurity" type="CZAOSWeb.Security.AdminPermissionsModule, CZAOSWeb" preCondition="managedHandler" />
        
    </modules>
    <handlers>
      <!-- CUSTOM -->        
        <add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />      
        <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" /><remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
        <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
        <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        <add name="MailOpenHandler" verb="*" path="open.aspx" type="CZAOSMail.Handler.OpenMailHandler, CZAOSMail" />
    </handlers>
      
    <httpProtocol>
      <customHeaders>        
        <add name="X-UA-Compatible" value="IE=Edge,chrome=1" />        
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <location path="elmah.axd">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
</configuration>