<?xml version="1.0" encoding="utf-8"?>
<configuration>    
	
	<system.web>
		<authorization>			  
			<allow roles="MasterAdmin, Administrator, EducationAdmin, Observer" />					 <!-- might need to remove observer role -->
			<deny users="*"/>					 
		</authorization>
	</system.web>	
	
</configuration>

